$primary-color: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$very-light-gray: hsl(240, 78%, 98%);
$light-gray: hsl(234, 14%, 74%);
$gray: hsl(233, 13%, 49%);
$dark-gray: hsl(232, 13%, 33%);

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	line-height: 1.8;
}

body {
	font-size: 15px;
	margin: 0;
	padding: 0;
	background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
	background-repeat: no-repeat;
	background-position: 60vw top, bottom left;
	background-color: $very-light-gray;
}

// Switch

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin: 0 1em;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: hsl(237, 63%, 64%);
	background-image: $primary-color;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: hsl(236, 72%, 79%);
}

input:focus + .slider {
	box-shadow: 0 0 1px hsl(236, 72%, 79%);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

// Layout

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 2em 0;
	color: $gray;

	h1 {
		margin: 1em 0;
		padding: 0;
	}
}

.duration-container {
	display: flex;
	align-items: center;
}

.pricing-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.cards {
	width: 80%;
	padding: 1em 0;
	margin-bottom: 2em;
	color: $dark-gray;
	background: #fff;
	border-radius: 0.5em;

	h2 {
		margin: 0;
		padding: 0;
	}

	p {
		border-top: 1px solid $light-gray;
		width: 80%;
		margin: 0 auto;
		padding: 1em 0;
	}

	p:nth-last-of-type(1) {
		border-bottom: 1px solid $light-gray;
		margin-bottom: 2em;
	}
}

.price-text {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4rem;

	span {
		font-size: 2.5rem;
		margin-right: 10px;
	}
}

.inverse {
	background-image: $primary-color;
	color: white;

	.learn-more-btn {
		background: white;
		color: hsl(237, 63%, 64%);
	}

	p {
		border-top: 1px solid #fff;
	}

	p:nth-last-of-type(1) {
		border-bottom: 1px solid #fff;
	}
}

.learn-more-btn {
	padding: 1em 7.5em;
	border-radius: 0.5em;
	background-color: $primary-color;
	cursor: pointer;
	background-image: $primary-color;
	border: none;
	outline: none;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 1em;
}

.monthly {
	display: none;
}

// Media queries

@media only screen and (min-width: 600px) {
	// Tablet view
}

@media only screen and (min-width: 768px) {
	// Desktop view
}
